.pageHead{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 65px;
}
#logoHead img {
    height: 130px;
    width: auto;
}
.pageHead div {
    border:solid rgba(224, 224, 18, 0.785);
    width: 100%;
    border-style: groove;
}
select{
    width: 100%;
    height: 100%;
    border: none;
}
#account-icon img{
    height: 60px;
}
#block5sc1{
    display: flex;
}


